.entry-cover img {
    border-radius: var(--radius);
    width: 100%;
    height: auto;
    /* display: none; */
}

.entry-content {
    margin: 0px;
}

.entry-footer {
    display: none;
}

.button {
    font-weight: 600;
}
