.entry-cover img {
    border-radius: var(--radius);
    width: 100%;
    height: auto;
    /* display: none; */
}

.entry-content {
    margin: 0px;
}

.entry-footer {
    display: none;
}

.button {
    font-weight: 600;
}

custommark {
    font-weight: bold;
    color: var(--accent-color);
    display: inline-block; 
    line-height: 0em; 
    background-color: #ffdd00ff; 
    padding-bottom: 1.1em; 
    font-weight: bold;
    font-style: italic;
}
