a:link, .panel-title
{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: rgb(202, 20, 20);
}

a, a:hover, .panel-title:hover
{
    text-decoration: underline;
    text-decoration-thickness: 4px;
    color: #444;
}

a.category, a.category, a.category, a.index-anchor
{
    text-decoration: none;
    color: #444;
}
.copyright a
{
    text-decoration: none;
}