{{ partial "header.html" . }}

<header class="row text-left title">
    <h1 class="title">{{ .Title }}</h1>
</header>

<section id="content-pane" class="row">
    <div class="col-md-12 text-justify content">
        {{ .Content }}
    </div>
</section>
  
<section id="list-pane" class="row pack">

    {{ range .Data.Pages.ByPublishDate.Reverse }}

        <div class="col-md-4">
        <a href="{{ .Permalink }}" class="index-anchor">    
            <div class="card panel panel-default">
            
            {{ with .Params.featured_image }} 
            <img width="95%" src="img/{{ . }}" alt="Post Image" style="margin:2.5%"> 
            {{ end }}

            <div class="panel-body">
                <h3 class="panel-title" style="padding:10px 0px;text-align:center">{{ .Title }}</h3>
            </div>

            </div>
        </a>
        </div>

    {{ end }}
        
</section>
    
{{ partial "menu.html" . }}

{{ partial "footer.html" . }}
