<!-- <section id="list-pane" class="row list"> -->
<section id="list-pane" class="row list">

  <ul >
    {{ range .Data.Pages.ByPublishDate.Reverse }}

    <!-- FOR BLOG ENTRIES -->
    {{ if eq .Params.class "coding" }}

      <div class="col-md-4">
        {{ with .Params.package_url }} 
        <a href="{{ . }}" target="_blank">    
        {{ end }}

          <div class="card panel panel-default">
            
            {{ with .Params.logo }} 
            <img width="95%" src="img/{{ . }}" alt="Post Image" style="margin:2.5%"> 
            {{ end }}

            <div class="panel-body">
              <h3 class="panel-title" style="padding:10px 0px;text-align:center">{{ .Params.package_name | markdownify }}</h3>
            </div>

          </div>
        </a>
      </div>


    <!-- FOR PUBLICATION ENTRIES -->
    {{ else if eq .Params.class "pub" }}

    <div class="row">

      <li class="list-entry box css3-shadow">
        
          <div class="col-md-5">
            <a class="list-entry-link" href="{{ .Permalink }}" style="font-size: 20px;">{{ .Title | markdownify }}</a>
            <p class="excerpt">
              {{ if isset .Params "publication_short" }}
                  </br>
                  <b>{{ .Params.publication_short | markdownify }}</b>, {{ .Date.Format .Site.Params.dateformat }}
              {{ end }}
            </p>
    
          </div>
  
          
          <div class="col-md-5">
            <p class="excerpt">
              {{ .Description | safeHTML | truncate 300 }}
            </p>
          </div>

      </li>
      
    </div>
    
  </br>
  <hr>

    {{ else if eq .Params.class "art"}}

      

    {{ else }}

      <div class="col-md-4">
        <a href="{{ .Permalink }}" class="index-anchor">    
          <div class="card panel panel-default">
          
            {{ if isset .Params "featured_image" }}
            {{ with .Params.featured_image }} 
            <img width="90%" src="img/{{ . }}" alt="Post Image" style="margin:5%"> 
            {{ end }}
            {{ end }}
        
            <div class="panel-body">
              <h3 class="panel-title">{{ .Title }}</h3>
            </div>
            
            <div class="panel-body">
              <p class="meta">
                <span class="category">
                {{ if isset .Params "categories" }}
                {{ $total := len .Params.categories }}
                {{ if gt $total 0 }}
                —
                {{ $total := sub $total 1 }}
                {{ range $i, $cat := sort .Params.categories }}
                <a class="category" href="{{ "/categories/" | relURL }}{{ $cat | humanize | urlize }}">{{ $cat }}</a>{{ if lt $i $total }}, {{ end }}
                {{ end }}
                {{ end }}
                {{ end }}
                </span>
              </p>

              {{ with .Description | safeHTML | truncate 150 }} 
                <p class="meta post-meta pull-left">{{ . }}</p>
              {{ end }}
    
              <p class="meta post-meta pull-left">
                <a class="link link--arrowed" href={{ .Params.url_publisher }} target="_blank">
                  {{ .Params.publication_short | markdownify }}
                </a>
              </p><span><p class="meta post-meta pull-right">{{ .Date.Format "January 2, 2006" }}</p></span>
            </div>

          </div>
        </a>
      </div>

    {{ end }}
    
    <!-- <li class="list-entry box">
      <a class="list-entry-link" href="{{ .Permalink }}">{{ .Title }}</a>
      <p class="meta">
        </br>
        {{ .Date.Format .Site.Params.dateformat | upper }}
        <span class="category">
        {{ if isset .Params "categories" }}
        {{ $total := len .Params.categories }}
        {{ if gt $total 0 }}
        —
        {{ $total := sub $total 1 }}
        {{ range $i, $cat := sort .Params.categories }}
        <a class="category" href="{{ "/categories/" | relURL }}{{ $cat | humanize | urlize }}">{{ $cat | upper }}</a>{{ if lt $i $total }}, {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}
        </span>
      </p>
      <p class="excerpt">
      {{ .Description | safeHTML}}
      {{ if isset .Params "publication_short" }}
      </br></br><b>{{ .Params.publication_short | markdownify }}</b>
      {{ end }}
    </p>
    <hr style="border-color:rgba(190, 190, 190, 0.185); border-width: 1px; border-style:solid">
  </li> -->
  {{ end }}

</ul>

</section>
