<!-- Nanogallery2 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nanogallery2/3.0.4/css/nanogallery2.min.css" integrity="sha512-+2oV2UlL71cEjmYVdlZLMJpS25chnBRkJj48IrthsNmmuIMVvSRUQsdbYEiMGiEGBAKjJZsAQwnDFzbiyx2SnQ==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/nanogallery2/3.0.4/jquery.nanogallery2.min.js" integrity="sha512-+Ijx/x+ScQCzLAAbLCL2pbFo8pWdy5YfBHPLJy1CYBt4RSLyo2tr8dnxY1XMug6WCtEhGDreTMTHe+9BHOg2VA==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ "css/gallery.css" | absURL }}">

{{ $nanogallery2_settings := getJSON "ng2_settings.json" | jsonify}}

<div class="nanogallery2" data-nanogallery2="{{$nanogallery2_settings}}">
    {{ range $index, $image := sort (.Resources.ByType "image") }}
        {{ $image.RelPermalink }}
        {{ $.Scratch.Set "thumbnail" ($image.Resize "x500") }}
        <a 
            href="{{ $image.RelPermalink }}" 
            data-ngthumb="{{ ($.Scratch.Get "thumbnail").RelPermalink }}"
            style="border:black 10px"
        >{{$image.Name}}</a>
    {{ end }}
</div>

